/*---------------------------HORIZONTaL -----------------*/
@font-face {
    font-family: 'kara';
    src: url("../Fonts/SGKara-Light_p30download.com.ttf");
    src: url("../Fonts/SGKara-Regular_p30download.com.ttf");
    src: url("../Fonts/SGKara-SemiBold_p30download.com.ttf");
}
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}
html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    direction: rtl;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Lalezar;
}
li >a{
    font-family: kara;
}
section {
    float: left;
    display: block;
    height: 100%;
    background-color: rgb(0, 0, 0);

    /*padding-top:60px;*/


}
/*-------------------------PROJECT----------------------------*/
/*-------------------------MENUE----------------------------*/
.my-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    font-size: 2em;
}

.my-header .nav-item {
    margin: 0 5px 0 5px;
    font-size: 0.90rem;
    font-family: kara;
}

.btn-actions-header, #launch {
    width: 100px;
    border-radius: 20px;
    height: 43px;
    font-size: 1em;
    margin: 0 5px;
    color: #fff;
    /*
    background-color: #21165b;
    */
    /*
    border: 1px solid #fff;
    */
    background-image: linear-gradient(45deg, #3981a9, #59caea);
    border: 1px solid #212075;

}

.btn-actions-header, #launch :hover {
    background-color: #3981a9;
    color: #fff;
}

.btn-actions, #launch {
    width: 200px;
    border-radius: 30px;
    line-height: 2em;
    height: 60px;
    font-size: 2.5em;
    margin: 0 50px;
    color: #fff;
    background-image: linear-gradient(45deg, #3981a9, 59caea);
    border: 1px solid #212075;
    font-family: lalezar;
}

.btn-actions, #launch:hover,
.btn-actions-header:hover{
    background-image: linear-gradient(160deg, #4087c9, transparent);
    color: #fff;
}
.navbar-nav {
    direction: rtl;
    font-family: 'lalezar';
    float: right;
    text-align: right;
    padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    position: relative;
    padding-bottom: 2px;
    text-decoration: none;
    font-size: 0.9em;
}

.nav-link:hover {
    /*text-shadow: 0px 10px 10px #c39327;*/
}

.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    width: 80%;
    left: 10%;
    animation: button-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes button-hover {
    0%   {background: transparent}
    50% {background: radial-gradient(#e0c381, transparent);}
    100% {background: radial-gradient(#e0a90e, transparent);}
}

/*-------------------------AVAL----------------------------*/

.full {
    width:100%;
    height:100vh;
    object-fit:cover;
}
.text-hover{
    opacity: 0.5;
    margin: 60px;
    transition: transform .2s;
    margin: 0 auto;

}
.text-hover:hover{
    transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    opacity: 1;
}
.mid-text > video{
    opacity: 0.3;
}
.mid-text > video:hover{
    opacity: 1;
    transition: 1.5s;
}
.mid-text{
    display: grid;
    align-items: center;
}
.text-1{
    font-size: 2rem;
    z-index: 100;
}
.text-border
{
    border: 1px dashed rgb(255, 255, 255, 0.5)
}
#section-section1 {
    background: #000000;
}
.menu-1{
    font-family: kara;
    font-size: 1.5rem;
    color: #fff;
}
.menu-1:hover{
    text-decoration: none;
    font-size: .7em;
    color: #fff;
}

/*--------------------------- RASANE -------------------------*/
.videos{
    position: relative;
}
.videos video{
    float: left;
    opacity: 1;
    width: 100%;
}
/*.videos video:hover{
    opacity: 1;
}*/
video + div{
    opacity: 1;
    width: 100%;
}
video + div:hover{
    opacity: 0;
}
#moshen{
    background: url("../images/cover-moshen.jpg") no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}
#cover-ide{
    background: url("../images/cover1.jpg") no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}
#cover-aparat{
    background: url("../images/cover-aparat-stive-jobz.jpg") no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.box-what{
    background: #fff;
    background-image: url("../images/Asset 3.png");
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center center;
}
.box-what:before{
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate3d(0,0,1,45deg) scale3d(1.5,0,1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .15s;
    background-image: url("../images/Asset 4.png");
    background-color:rgb(0,0,0,1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.box-what:hover:before{
    background-color:rgb(0,0,0,1);
    opacity: 1;
    transform: rotate3d(0,0,1,0deg) scale3d(1.5,1,1);
}
.box-risponsive{
    background: #fff;
    background-image: url("../images/Asset 3.png");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.box-risponsive:before{
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate3d(0,0,1,45deg) scale3d(1.5,0,1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .15s;
    background-image: url("../images/Asset 4.png");
    background-color:rgb(0,0,0,1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.box-risponsive:hover:before{
    background-color:rgb(0,0,0,1);
    opacity: 1;
    transform: rotate3d(0,0,1,0deg) scale3d(1.5,1,1);
}


/*@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}*/

#image{
    background-image: url("../images/Asset 2.png");
    z-index: -1;
    background-repeat: no-repeat;
    height: 100vh;


}
/*-------------------------------------- START GLOBAL MANAGEMENT --------------------*/

.global {
    font-size: 40px;
    margin: 0;
}
.block-wrap {
    background: url("../images/background (2).jpg");
    background-size: 100% 100%;
    width: 100%;
    overflow: hidden;
}
#video{
    position: fixed;
}
.block {
    display: inline-block;
    float: left;
    width: 5%;
    height: 65px;
    background: #000;
    -webkit-transition: all 0.2s ease-in;
    -webkit-transition-delay: 0.4s;
    -moz-transition: all 0.2s ease-in;
    -moz-transition-delay: 0.4s;
    transition: all 0.2s ease-in;
    transition-delay: 0.4s;
}
.off {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
/*--------------------------- MODELS -------------------------*/

.container{
    background: url("../images/flou.jpg") no-repeat;
    height: 100vh;
    background-position: center center;
    text-align: center;
}
#back-home{
    background: url("../images/background.jpg") no-repeat;
    height: 100vh;
    background-position: center center;
}
.parallax-obj{
    position: reletive;
    left: 0px;
}
#launch{
    height: 200px;
    width: 200px;
    display: block;
    position: absolute;
    z-index: 100;
    /*background-image: url(../images/launch.png);*/
    background-position: center center;
    /*background-repeat: no-repeat;*/
    border-radius: 50%;
    margin: auto auto;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
#launch:hover{
    opacity: 1;
}
.scene{
    height: 100vh;
    text-align: center!important;
    display: grid;
    align-items: center;
}
#span{
    margin-top: 23%;
    color: #FFF;
    font-size: 1.4rem;
    z-index: 120;
    margin-left: 40%;
}
#risk{
    position:relative;
    margin:36%;
    margin-top: 5%;
    font-family: kara;
    font-size: 1.1rem;
    line-height: 30px;
    color: #FFF;

}
#text-risk2{
    display: grid;
    width: 100%;
    height: 100%;
    align-items: stretch;
}
#risk2{
    position:absolute;
    margin: auto;
    font-size: 1.1rem;
    line-height: 30px;
    font-family: kara;
    color: #FFF;
}
#stroke{
    width: 100%;
    height: 100%;
    background: url("../images/stroke.png") no-repeat;
    background-position: center center;
}
#stroke1{
    width: 100%;
    background: url("../images/stroke1.png") no-repeat;
    background-position: center center;
    height: 100%;
}
#stroke2{
    width:100%;
    height: 100%;
    background-image: url("../images/stroke2.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#known{
    margin: auto auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: auto auto;
}
#lines{
    width: 566px;
    height: 1px;
    position: absolute;
    margin-top: 50vh;
    background-image: url(../images/lines.png);
    background-position: center center;
    background-repeat: no-repeat;
}
#stockholm{
    width: 8px;
    height: 141px;
    margin-top: 15%;
    margin-left:13%;
    background-image: url(../images/stockholm.png);
    background-position: center center;
    background-repeat: no-repeat;
}





/* ------------------------------------------------------------- ABOUT US -----------------
#client-grid{
   background-image: url("../images/background.png");
   width: 100%;
   height: 100%;
   background-position: center center;
   top:0;
   left: 0;
   z-index: 100;
}*/
#logo-about{
    background: url("../images/litel-logo.png") ;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: top center;
    z-index: 200;
}
#grid{
    background-image: url("/acckt/images/launch-4.png");
    width: 90px;
    height: 80px;
    bottom:48%;
    left:46%;
    z-index: 110;
    background-position: top center;
}

@media screen and (max-width:320px) {
    #section-section1, #section2, #section-section3,#section-section4, #section-section6{
        margin-top: 66px;
    }
    .text-1{
        font-size: 12px;
    }
    .box-risponsive{
        background-size: 65%;
    }
    #bottom-rasane, #image, .box-what{
        display: none;
    }
    .text{
        height: 53px;
    }
    .text1{
        padding: 34px!important;
    }
    .global{
        font-size: 18px!important;
    }
    .block {
        height: 22px;
    }
    #span, #risk, #risk2{
        font-size: 1.3em;
    }
    #span{
        margin-top: 89%;
        margin-left: 31%;
    }
    #risk{
        margin-left: 30%;
        margin-top: 50%;
    }
    #risk2{
        margin-left: 27%;
        margin-top: 134%;
    }
    #launch, #lines, #stroke{
        background-size: 39%;
    }
    #stroke1{
        background-size: 45%;
    }
    #stroke2 {
        background-size: 59%;
    }
    #logo-about{
        background-size: contain;
    }
}

@media screen and (max-width:425px) and (min-width:321px) {
    #section-section1, #section2, #section-section3,#section-section4, #section-section6{
        margin-top: 66px;
    }
    .text-1{
        font-size: 12px;
    }
    .videos{
        height: auto;
    }
    .box-risponsive{
        background-size: 72%;
    }
    #bottom-rasane, .box-what, #image {
        display: none;
    }
    .text{
        height: 70px;
    }
    .text1{
        padding: 39px!important;
    }
    .block {
        height: 29px;
    }
    .global{
        font-size: 20px!important;
    }
    #span, #risk, #risk2{
        font-size: 1.3em;
    }
    #span{
        margin-top: 75%;
        margin-left: 32%;
    }
    #risk{
        margin-left: 30%;
        margin-top: 33%;
    }
    #risk2{
        margin-left: 27%;
        margin-top: 114%;
    }
    #stockholm {
        margin-top: 56%;
    }
    #launch, #lines, #stroke{
        background-size: 39%;
    }
    #stroke1{
        background-size: 45%;
    }
    #stroke2 {
        background-size: 59%;
    }

}
@media screen and (max-width:768px) and (min-width:426px) {
    #section-section1, #section2, #section-section3,#section-section4, #section-section6{
        margin-top: 66px;
    }
    .box-risponsive{
        display: none;
    }
    .text-1{
        font-size: 12px;
    }

    .text1{
        padding: 71px!important;
    }
    .global{
        font-size: 20px!important;
    }
    .box-risponsive{
        background-size: 65%;
    }
}
@media screen and (max-width:1024px) and (min-width:769px){
    .navbar-dark .navbar-nav .nav-link {
        font-size: 0.7em!important;
    }
    #logo-about {
        margin-top: 10%!important;
    }
    .box-risponsive{
        display: none;
    }
    #section-section4, #section2{
        margin-top:66px;
    }
    .box-what{
        background-size: 65%;
    }
}

@media screen and (max-width:1440px) and (min-width:1025px){
    #logo-about {
        margin-top: 10%!important;
    }
    .videos{
        height: 50vh;
    }
    #section2 {
        margin-top:50px;
    }
    #section-section4 {
        margin-top:66px;
    }
    .box-what{
        background-size: 65%;
    }
}
