
html,
body {
    height: 100%;
}

.signup-page {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding:30px;
    height: 100%;
    background-size:cover;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 35px;
    margin: 0 auto;
    background: rgba(91,54,119,0.9);
    border-radius: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom:10px;
    border-radius: 10px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.social-login {
    border-top:2px #ccc solid;
    margin-top:20px;
    padding-top:20px;
}
.social-login a {
    margin-bottom: 10px;
    background: #FFFFFF;
    color:#333;
}
.round-btn {
    border-radius: 10px;
}
.signup-btn {
    background: #04E3FF;
    color:#eee;

}